.# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# emacs backup files
*~

# Rstudio project files
*.Rproj
.Rproj.user

# R build ignore
.Rbuildignore

# Git ignore
.gitignore
dalmatian/.gitignore
doc
Meta

# Rcheck
..Rcheck